.post_container {
  width: 43vw;
  /* height: 78vh; */
  border: 1px solid #dbdbdb;
  background-color: white;
  margin-top: 4%;
}

.post_header {
  height: 7vh;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
}

.post_image {
  min-width: 30px;
  min-height: 30px;
  margin: 1.5%;
}

.post_username {
  font-weight: bold;
}

.post-reactimage {
  width: 2vw;
  height: 3vh;
  /* margin: 1%; */
}

.post_comment {
  margin: 1.5%;
}

.post_commentbox {
  height: 7vh;
  width: -webkit-fill-available;

  border: 1px solid #dbdbdb;
  font-size: 1em;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .post_container {
    width: 60vw;
  }
}

@media screen and (max-width: 500px) {
  .post_container {
    width: 85vw;
  }
}
