.post_container {
  width: 43vw;
  /* height: 78vh; */
  border: 1px solid #dbdbdb;
  background-color: white;
  margin-top: 4%;
}

.post_header {
  height: 7vh;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
}

.post_image {
  min-width: 30px;
  min-height: 30px;
  margin: 1.5%;
  border: 1px solid #dbdbdb;
}

.post_username {
  font-size: larger;
  font-weight: bold;
  font-family: 'Quantico';
}

.post-reactimage {
  width: 2vw;
  height: 4vh;
  /* margin-left: auto;
  margin-right: auto; */
}

.post_comment {
  margin: 1.5%;
  display: block;
  /* font-family: 'Comfortaa'; */
}

.post_commentbox {
  height: 7vh;
  width: -webkit-fill-available;

  border: 1px solid #dbdbdb;
  font-size: 1em;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .post_container {
    width: 60vw;
  }

  .post-reactimage {
    width: 5vw;
    height: 4vh;
    /* background-color: rgb(249, 0, 41); */
    /* margin: 1%; */
  }
}

@media screen and (max-width: 500px) {
  .post_container {
    width: 85vw;
  }

  .post-reactimage {
    width: 8vw;
    height: 3.5vh;
    /* background-color: rgb(249, 0, 41); */
    /* margin: 1%; */
  }
}
